{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% if collection != blank %}
<div class="product-collection-carousel desktop-12 tablet-6 mobile-3">
  {% for product in collection.products limit: prod_limit %}
  <div class="product-car">    
    <div class="product-index" data-alpha="{% comment %}ly_code_replace_for_[ product.title ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}" data-price="{{ product.price }}">   
      {% include 'product-listing' %}
    </div>
  </div>
  {% endfor %}
</div> 
{% else %}
{% include 'onboard-product' %}
{% endif %}      
