{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<section class="shipping_info">

<div class="row">
  <div class="desktop-3 tablet-3 mobile-3 shipping-inner-icon">
    <div class="content">
    <i class="fa fa-anchor" aria-hidden="true"></i><span><ly-as-9405473>SAILING INSPIRED</ly-as-9405473></span>
    </div>
  </div>
   <div class="desktop-3 tablet-3 mobile-3 shipping-inner-icon">
     <div class="content">
  <i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i><span> <ly-as-9405474>HANDMADE BY CRAFTSMEN</ly-as-9405474></span>
     </div>
  </div>
   <div class="desktop-3 tablet-3 mobile-3 shipping-inner-icon">
    <div class="content">
   <i class="fa fa-plane" aria-hidden="true"></i> <span><ly-as-9405475>FREE SHIPPING WORLDWIDE</ly-as-9405475></span>
     </div>
  </div>
   <div class="desktop-3 tablet-3 mobile-3 shipping-inner-icon">
     <div class="content">
    <i class="fa fa-shield" aria-hidden="true"></i> <span><ly-as-9405476>100% SAFE & SECURE CHECKOUT</ly-as-9405476></span>
     </div>
  </div>
  
  </div>
  
  
</section>